@charset "UTF-8";

/*----------

Página de viagem
Version 1.0
Made by Hector Caliman

  SUMÁRIO
  _________________

  01. Geral
  02. Divisões e Elementos visuais
  03. Botões e Icones
  04. Head e Textos
  05. Consentimento

-------------*/

@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(cookieconsent.css);
@import url(flipdown.css);

/*--------------

01 Geral 

--------------*/

html {
  color: #2d2d2d;
  position: relative;
}


body {
 
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column !important;
}
    @media screen and (max-width: 960px){
        body {
            color: #2d2d2d;
            margin-left: 10vw; 
            margin-right: 10vw; 
            border-right: 3vw;
        } }
      
  @media screen and (max-width: 575px) {
        body {
            color: #2d2d2d;
            margin-left: 25vw; 
            margin-right: 25vw; 
            border-right: 3vw;
        } }

footer{
  align-items: center;
  text-align: center;
  width: auto;
  margin-top: auto;
  margin-bottom: 0px;
  padding: 55px 0px 9px 0px;
  border-top:  1px solid #ebebeb;
}
  @media screen and (max-width: 960px) {
    footer{
        align-items: center;
        text-align: center;
      } }

  @media screen and (max-width: 575px) {
    footer{
        align-items: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: 0px;
      } }

/*-------------

02 Divisões e Elementos visuais

------------*/   
#espaçamento {
  margin-top: 1vh;
  align-items: center;
  align-items: center;
}


.profile-photo{
  display: flex; 
  align-items: center; 
  width: 25vw; 
  height: 25vw; 
  size: 100%;
  border-radius: 1.8VW; 
  margin-bottom: -4.5vw;
  margin-top: 1vw; 
  margin-left: auto; 
  margin-right: auto;
  box-shadow: 0 0.125em 1.025em #000000;
  box-shadow: 0 0.125em 1.025em rgba(1.8, 1.8, 2.8, 0.26);
}
  @media screen and (max-width: 960px) {
    .profile-photo{
        display: flex;
        align-items: center;
        width: 20vw;
        height: 20vw;
        max-size: 100%;
        border-radius: 3vw;
        margin-bottom: -4.5vw;
        margin-top: 1vw;
        margin-left: auto; 
        margin-right: auto; 
      } }

  @media screen and (max-width: 575px) {
    .profile-photo{
        display: flex;
        align-items: center;
        width: 12vw;
        height: 12vw;
        max-size: 100%;
        border-radius: 1vw;
        margin-bottom: -4.5vw;
        margin-top: 1vw;
        margin-left: auto; 
        margin-right: auto;
      } }

.photo-viagem {
  display: flex; 
  align-items: center; 
  width: 12vw; 
  height: 12vw; 
  size: 100%;
  border-radius: 1.8VW; 
  margin-bottom: 1.8vw;
  margin-top: 1vw; 
  margin-left: auto; 
  margin-right: auto;

}
  @media screen and (max-width: 960px) {
    .photo-viagem {
        display: flex;
        align-items: center;
        width: 18vw;
        height: 18vw;
        max-size: 100%;
        border-radius: 3vw;
        margin-bottom: 3vw;
        margin-top: 1vw;
        margin-left: auto; 
        margin-right: auto;
 
      } }

  @media screen and (max-width: 575px) {
    .photo-viagem {
        display: flex;
        align-items: center;
        width: 35vw;
        height: 35vw;
        max-size: 100%;
        border-radius: 1vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 1.8VW; 
        margin-bottom: 1.5vw;
      } }

.head {
  align-items: center; 
  text-align: center;
  max-width: 100%; 
  max-height: 100%; 
  margin: auto;
}
  @media screen and (max-width: 960px) {
      .head{
        display: flex;
        align-items: center; 
        text-align: center;
        align-content: center; 
        max-width: auto; 
        max-height: auto; 
        margin: auto;
      } }
     
  @media screen and (max-width: 575px) {
    .head{
        display: flex;
        align-items: center; 
        text-align: center;
        align-content: center; 
        max-width: auto; 
        max-height: auto; 
        margin: auto;
      } }    

.div-head{
    margin-left: 3vw; 
    margin-right:3vw; 
    margin-top: 3vw;
}
  @media screen and (max-width: 960px) {
      .div-head{
        margin-left: 3vw; 
        margin-right:3vw; 
        margin-top: 3vw;
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
        } }    

  @media screen and (max-width: 575px) {
    .div-head{
        margin-left: 3vw; 
        margin-right:3vw; 
        margin-top: 3vw;
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
      } }

.head-text{
    width: auto;
    height: auto;
    align-content: center;
    text-align: center;
}
  @media screen and (max-width: 960px) {
      .head-text{
          width: auto;
          height: auto;
          align-content: center;
          text-align: center;
      } } 
    
  @media screen and (max-width: 575px) {
    .head-text{
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
      } }

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    z-index: -5;
    filter: brightness(60%);
    text-align: center;
    display: inline-block;
}

@media (max-aspect-ratio: 16/9) {
  .video { 
      width:auto;
      height: 100%;
  }
}
@media (min-aspect-ratio: 16/9) {
  .video {
      width:100%;
      height: auto;
  }
}

#roteiro-viagem {
  margin: auto !important;
  color:#ffffff ;
  margin-bottom: 5vh;
  align-content: center;
}
  @media screen and (max-width: 960px) {
      #roteiro-viagem {
          margin-left: 4vw;
      } } 
    
  @media screen and (max-width: 575px) {
    #roteiro-viagem {
      margin-left: 4vw;
     }}

.mapa-viagem {
  align-content: center !important;
  text-align: center;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

@media screen and (max-width: 960px) {
  .mapa-viagem{
    padding-bottom:50%;
  } } 

@media screen and (max-width: 575px) {
  .mapa-viagem {
  padding-bottom: 80%;
  width: 40vh;
  height: 30vh;
  padding-left: 20%;
 }}

.mapa-viagem iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media screen and (max-width: 575px) {
  .mapa-viagem iframe  {
    left:-10;
    top:0;
    height:80%;
    width:80%;
    align-content: center;
    align-items: center;
 }}

/*--------------

03 Botões e Icones 

--------------*/

.botão {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  align-items: center;
  margin: 5vw;
  margin-right: 10vw;
  margin-left: 10vw;
  background: #069cc2; 
  border-radius: 10px; 
  padding: 4vw; 
  color: #fff; 
  border: none;
  align-content: center;
  width: auto;
}
    .botão:hover {
        background: #098fb3; 
    }

  @media screen and (max-width: 960px) {
    .botão {
        font-size: 2vw;
        align-items: center;
        margin: 2vw;
        margin-right: auto;
        margin-left: auto;
        background: #069cc2; 
        border-radius: 0.5vw; 
        padding: 2vw; 
        color: #fff; 
        border: none;
        align-content: center;
        max-width: 40vw;
        display: flex;
      } }    

  @media screen and (max-width: 575px) {
    .botão {
        font-size: 1vw;
        align-items: center;
        margin: 1vw;
        margin-right: auto;
        margin-left: auto;
        background: #069cc2; 
        border-radius: 0.5vw; 
        padding: 1vw; 
        color: #fff; 
        border: none;
        align-content: center;
        max-width: 30vw;
        display: flex;
      } }

.fa {
  margin-right: 1vw;
  margin-left: auto;
  font-size: 1.8vw;
  color: #ffffff;
}
  @media screen and (max-width: 960px) {
    .fa {
        margin-right: 2vw;
        font-size: 2.2vw;
      } }

  @media screen and (max-width: 575px) {
    .fa {
        font-size: 7vw;
        align-items: center;
      } }

/*-----------

04 Textos

-----------*/
h1, h2, h3, h4, h5, h6, a, br {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
  margin-top: 1vw;
  margin-left: auto; 
  margin-right: auto;
}

  @media screen and (max-width: 1024px) {
    h1 {
        font-size: 3vw;
        margin-top: 1vw;
      } }

  @media screen and (max-width: 960px) {
    h1 {
        font-size: 4vw;
        margin-top: 1vw;

      } }

  @media screen and (max-width: 575px) {
    h1 {
        font-size: 6.5vw;
        margin-top: 0.8vw;
      } }

h2 {
  font-weight: 400;
  font-size: 2.3vw;
  color: #ffffff;
  text-align: left;
  margin-top: 0.1vw;
}

    @media screen and (max-width: 1024px) {
    h2 {  
      font-weight: 400;
      font-size: 2.8vw;
      margin-top: 0.1vw;
    } }

    @media screen and (max-width: 960px) {
    h2 {
        font-size: 2vw;
        margin-top: 0.2vw;
      } }

  @media screen and (max-width: 575px) {
    h2 {
        font-size: 1.5vw;
        margin-top: 0.7vw;
      } }

h3 {
  font-weight: 500;
  font-size: 3.5vw;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  margin-left: auto; 
  margin-right: auto;
}
  @media screen and (max-width: 960px) {
    h3 {
        font-weight: 500;
        font-size: 1.8vw;
        text-align: center;
      } }    

  @media screen and (max-width: 575px) {
    h3 {
        font-weight: 500;
        font-size: 1.2vw;
        text-align: center;
      } }

h4 {
    font-weight: 500;
    font-size: 4vw;
    color: #ffffff;
    text-align: left;
    margin-top: auto;
    margin-left: auto; 
    margin-right: auto;
}

  @media screen and (max-width: 1024px) {
    h4 {
        font-size: 3vw;
      } }

  @media screen and (max-width: 960px) {
    h4 {
        font-size: 4.5vw;
      } }    

  @media screen and (max-width: 575px) {
    h4 {
        font-size: 4.5vw;
      } }


h6 {
  font-weight: 100;
  font-size: 1.5vw;
  color: #ffffff;
  margin-left: 1vh;
}
  @media screen and (max-width: 960px) {
    h6 {
        font-weight: 100;
        font-size: 1.5vw;
      } }
  @media screen and (max-width: 575px) {
    h6 {
        font-weight: 100;
        font-size: 3vw;
        align-content: center;
      }
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8vw;
  font-weight: 400;
  text-decoration: none;
}

  @media screen and (max-width: 1024px) {
      a {
          text-decoration: none;
          font-size: 2.2vw;
        } }

  @media screen and (max-width: 960px) {
      a {
          text-decoration: none;
          font-size: 2.7vw;
        } }
  @media screen and (max-width: 575px) {
      a {
        text-decoration: none;
        font-size: 4.4vw;
      } }


a:link {
  text-decoration: none;
  color: #ffffff;
}
      
a:visited {
  text-decoration: none;
  color: #ffffff;
 }
      
a:hover {
  text-decoration: none;
  color: #ffffff;
  }
      
a:active {
  text-decoration: none;
}
/*   

Contador

*/

.countdown {
	margin-right: 10vh;
  margin-left: 10vh;
  margin-bottom: 2vh;
  box-align: center;
}

  @media screen and (max-width: 1024px) {
      .countdown {
          margin-right: 5vh;
          margin-left: 5vh;
        } }

  @media screen and (max-width: 960px) {
      .countdown {
          margin-right: 1vh;
          margin-left: 1vh;
        } }
  @media screen and (max-width: 575px) {
      .countdown {
          margin-right: 0.2vh;
          margin-left: 0.2vh;
      } }

.countdown .square {
	display: inline-block;
  box-align: center;
  align-items: baseline;
  width: 12vh;
  height: auto;
  text-align: center !important;
}

  @media screen and (max-width: 1024px) {
      .countdown .square {
          width: 11.2vh;
          box-align: center;
        } }

  @media screen and (max-width: 960px) {
      .countdown .square {
          width: 10.5vh;
          box-align: center;
        } }
  @media screen and (max-width: 575px) {
      .countdown .square {
        width: 10vh;
        box-align: center;
      } }

.countdown .numb {
	font-size: 4vh;
	font-weight: 500;
  box-align: center;
  width: auto;
  height: auto;
	text-align: center;
  color:#f63440;
  margin-bottom: -2vh;
}

  @media screen and (max-width: 1024px) {
      .countdown .numb {
            font-size: 5vh;
        } }

  @media screen and (max-width: 960px) {
      .countdown .numb {
          font-size: 4.6vw;
        } }
  @media screen and (max-width: 575px) {
      .countdown .numb {
          font-size: 6vw;
      } }


.countdown .text {
  font-size: 2.8vh;
  text-align: center;
  color: #ffffff;
  width: 4vh;
  height: 4vh;
  margin-top: 1vh;
}

  @media screen and (max-width: 1024px) {
      .countdown .text {
            font-size: 3vh;
        } }

  @media screen and (max-width: 960px) {
      .countdown .text {
          font-size: 2.1vw;
        } }
  @media screen and (max-width: 575px) {
      .countdown .text {
            font-size: 4vw;
      } }

/*

Modal

*/
#staticBackdropLabel {
  color:#2d2d2d;
}

#staticBackdropLabel .h1 .a {
  color:#2d2d2d;
  align-items: center;
  align-content: center;
}

#modal-texto{
  color:#2d2d2d;
}

